[Unit]
Description=Murmurd - VoIP Server
After=network.target mysqld.service

[Service]
User=murmur
Type=forking
PIDFile=/run/murmur.pid
ExecStart=/usr/sbin/murmurd -ini /etc/murmur/murmur.ini

[Install]
WantedBy=multi-user.target
